## Importing Dependencies and Merging the Main Dataframe

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
complete_school_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])

#view dataset
#complete_school_df.head()

## District Performance Analysis

In [ ]:
#checking for any missing data
#complete_school_df.count()

In [ ]:
#creating bins for reading scores
reading_bins = [0, 69, 100]

# Create the names for the pass/fail reading scores
reading_pass = ["Fail", "Pass"]

#add to dataframe
complete_school_df["Reading Pass/Fail"] = pd.cut(complete_school_df["reading_score"], 
                                              bins= reading_bins, labels=reading_pass, include_lowest=True)
math_bins = [0, 69, 100]

# Create the names for the pass/fail math scores
math_pass = ["Fail", "Pass"]

#add to dataframe
complete_school_df["Math Pass/Fail"] = pd.cut(complete_school_df["math_score"], 
                                              bins= math_bins, labels=math_pass, include_lowest=True)

#view modified dataframe
#complete_school_df

In [ ]:
#counting the number of schools
school_count = len(complete_school_df["school_name"].unique())

#view computed variable
#school_count

In [ ]:
#counting the number of students
number_students = complete_school_df["Student ID"].count()
#print(number_students)

#summing the budget
budget = sum(complete_school_df["budget"].unique())
#print(budget)

#computing average math scores
avg_math = round(complete_school_df["math_score"].mean(),2)
#print(avg_math)

#computing average reading scores
avg_reading = round(complete_school_df["reading_score"].mean(),2)
#print(avg_reading)

In [ ]:
#determining the number of students who passed math
pass_math = sum(complete_school_df["math_score"] >= 70)

#determining the number of students who passed reading
pass_reading = sum(complete_school_df["reading_score"] >= 70)

In [ ]:
#percentages for passing math, reading, and overall (both math and reading)
perc_pass_math = round((pass_math/number_students)*100,2)

perc_pass_reading = round((pass_reading/number_students)*100,2)

overall_percent = round(((perc_pass_math + perc_pass_reading)/2),2)

#view variable
#overall_percent

In [ ]:
#obtaining the column names for the dataframe
#complete_school_df.columns

In [ ]:
#Creating and Printing the District Summary Table
district_summary_df = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [number_students],
                                    "Total Budget" : budget,
                              "Average Math Score": avg_math,
                              "Average Reading Score": avg_reading,
                                   "% Passing Math" : perc_pass_math,
                                   "% Passing Reading" : perc_pass_reading,
                                   "% Overall Passing" : overall_percent})

#view summary table before formatting is applied
#district_summary_df

## District Summary Table

In [ ]:
#applying formatting using the mapping function

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].astype(float).map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].astype(float).map("{:,.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].astype(float).map("{:,.2f}%".format)

district_summary_df

## School Performance Analysis

In [ ]:
grouped_school_df = complete_school_df.loc[:, ["school_name", "type", "Student ID", "budget", "math_score", "reading_score", 
                                    "Math Pass/Fail", "Reading Pass/Fail"]]
#view new dataframe
#grouped_school_df.head()

In [ ]:
#criteria for passing
passing_math= grouped_school_df["math_score"] >= 70
passing_reading = grouped_school_df["reading_score"] >= 70
overall_pass = (passing_math & passing_reading)

#adding passing rates to grouped school dataframe
grouped_school_df["% Passing Math"] = round(passing_math*100,2)
grouped_school_df["% Passing Reading"] = round(passing_reading*100,2)
grouped_school_df["% Overall Passing"] = round(overall_pass*100,2)

#view updated dataframe
#grouped_school_df

In [ ]:
#determining school budget
school_budget = grouped_school_df.groupby(["school_name"])["budget"].mean()
#print(school_budget)

#determining number of students
school_students = grouped_school_df.groupby(["school_name"])["Student ID"].count()
#print(school_students)

In [ ]:
#budget per student
budget_per_student = school_budget / school_students

#view variable
#budget_per_student

In [ ]:
#creating budget sub dataframe
budget_sub_df = pd.DataFrame({"Per Student Budget" : budget_per_student})

#view dataframe
#budget_sub_df

In [ ]:
#merge budget sub datadrame with the grouped school dataframe
grouped_school_df2 = pd.merge(grouped_school_df, budget_sub_df, how="left", on=["school_name", "school_name"])

#view dataframe
#grouped_school_df2.head()

In [ ]:
#renaming columns
grouped_school_df3= grouped_school_df2.rename(columns=
                                              {"school_name" : "School Name",
                                               "type" : "School Type",
                                               "Student ID" : "Total Students", 
                                               "budget" : "School Budget",
                                               "Per Student Budget" : "Per Student Budget",
                                               "math_score" : "Average Math Score", 
                                               "reading_score": "Average Reading Score", 
                                              "% Passing Math" : "% Passing Math",
                                              "% Passing Reading" : "% Passing Reading",
                                              "% Overall Passing" : "% Overall Passing"})

#view datafame
#grouped_school_df3.head()

In [ ]:
#grouping by schools to create a dataframe with average values
school_summary_df = grouped_school_df3.groupby(["School Name"])

school_summary_df2= school_summary_df[["School Budget", "Per Student Budget", 
                                      "Average Math Score", "Average Reading Score",
                                       "% Passing Math", "% Passing Reading",
                                       "% Overall Passing"]].mean()

#view dataframe
#school_summary_df2

In [ ]:
#grouping by schools to create a dataframe for the total number of students
school_summary_df = grouped_school_df3.groupby(["School Name"])

school_summary_df3 = pd.DataFrame(school_summary_df['Total Students'].count())

#view dataframe
#school_summary_df3

In [ ]:
#merging the two dataframes to create an aggregated dataframe
agg_school_summary = pd.merge(school_summary_df2, school_summary_df3, how="left", left_index=True, right_index=True)

#view dataframe
#agg_school_summary.head(15)

In [ ]:
#obtaining information about school type
school_df2 = school_df.groupby(["school_name"])

#view the school names
#school_df2["type"].unique()

In [ ]:
#creating a dataframe with only school name and school type
name_type_df = pd.DataFrame({
    "School Name": ["Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School", "Griffin High School",
                    "Hernandez High School", "Holden High School", "Huang High School", "Johnson High School", "Pena High School",
                   "Rodriguez High School", "Shelton High School", "Thomas High School", "Wilson High School", "Wright High School"],
    "School Type": ["District", "Charter", "District", "District", "Charter", 
                    "District", "Charter", "District", "District", "Charter",
                   "District", "Charter", "Charter", "Charter", "Charter"]
})

#view dataframe
#name_type_df

In [ ]:
#merging with aggregated dataframe
agg_school_summary2 = pd.merge(agg_school_summary, name_type_df, how="left", on=["School Name", "School Name"])

#view updated dataframe
#agg_school_summary2.head(15)

In [ ]:
#saving this table in a separate dataframe
#this way, we can apply formatting to this new dataframe while leaving the other one alone for computational purposes
agg_school_summary_3 = agg_school_summary2

#view dataframe before formatting is applied
#agg_school_summary_3

## School Performance Summary

In [ ]:
#applying formatting using the mapping function

agg_school_summary_3["School Budget"] = agg_school_summary_3["School Budget"].astype(float).map("${:,.2f}".format)
agg_school_summary_3["Per Student Budget"] = agg_school_summary_3["Per Student Budget"].astype(float).map("${:,.2f}".format)
agg_school_summary_3["Average Math Score"] = agg_school_summary_3["Average Math Score"].astype(float).map("{:,.2f}".format)
agg_school_summary_3["Average Reading Score"] = agg_school_summary_3["Average Reading Score"].astype(float).map("{:,.2f}".format)
agg_school_summary_3["% Passing Math"] = agg_school_summary_3["% Passing Math"].astype(float).map("{:,.2f}%".format)
agg_school_summary_3["% Passing Reading"] = agg_school_summary_3["% Passing Reading"].astype(float).map("{:,.2f}%".format)
agg_school_summary_3["% Overall Passing"] = agg_school_summary_3["% Overall Passing"].astype(float).map("{:,.2f}%".format)

agg_school_summary_3

## Top Performing Schools Analysis & Summary

In [ ]:
# sorting % Overall Passing in descending order to determine the top five performing schools
performance = agg_school_summary2.sort_values(["% Overall Passing"], ascending = False)

top_five_df = performance.head(5)

#view dataframe
top_five_df

## Bottom Performing Schools Analysis & Summary

In [ ]:
# sorting % Overall Passing in descending order to determine the top five performing schools
performance2 = agg_school_summary2.sort_values(["% Overall Passing"], ascending = True)

bottom_five_df = performance2.head(5)

#view dataframe
bottom_five_df

## Math Scores By Grade Analysis

In [ ]:
#creating math dataframe
grade_math_df = complete_school_df.loc[:, ["grade", "math_score"]]

#view dataframe
grade_math_df.head()

In [ ]:
#group math scores by grade
grade_math_df2 = grade_math_df.groupby(["grade"])

grade_math_df3 = round(grade_math_df2.mean(),2)

#view dataframe
grade_math_df3

## Math Scores By Grade Summary

In [ ]:
math_summary_df= grade_math_df3.rename(columns=
                                              {"grade" : "Grade",
                                               "math_score" : "Average Math Score"
                                               })

math_summary_df

## Reading Scores By Grade Analysis

In [ ]:
#creating reading dataframe
grade_reading_df = complete_school_df.loc[:, ["grade", "reading_score"]]

#view dataframe
#grade_reading_df.head()

In [ ]:
#group reading scores by grade
grouped_grade_read_df = grade_reading_df.groupby(["grade"])

reading_summary_df = round(grouped_grade_read_df.mean(),2)

#view dataframe
#reading_summary_df

## Reading Scores By Grade Summary

In [ ]:
reading_summary_2= reading_summary_df.rename(columns=
                                              {"grade" : "Grade",
                                               "reading_score" : "Average Reading Score"
                                               })

reading_summary_2

## Scores By School Spending Analysis

In [ ]:
#creating data frame for school spending
school_spending_df = grouped_school_df3.loc[:, ["Average Math Score", "Average Reading Score", 
                                                "% Passing Math", "% Passing Reading",
                                                "% Overall Passing", "Per Student Budget"]]
#view dataframe
#school_spending_df.head()

In [ ]:
#bin for school spending
spending_bins = [0, 585, 630, 645, 680]

#names for the bins
budget_labels = ["<584", "585-630", "631-645", "646-680"]

school_spending_df["Per Student Budget"] = pd.cut(school_spending_df["Per Student Budget"],
                                              bins= spending_bins, labels=budget_labels, include_lowest=True)

#view dataframe
#school_spending_df

In [ ]:
school_spending_df2 = school_spending_df.groupby(["Per Student Budget"])

school_spending_summary_df = round(school_spending_df2.mean(),2)

#view dataframe
#school_spending_summary_df

## Scores By School Spending Summary

In [ ]:
#applying appropriate formatting to summary table
school_spending_summary_df["% Passing Math"] = school_spending_summary_df["% Passing Math"].astype(float).map("{:,.2f}%".format)
school_spending_summary_df["% Passing Reading"] = school_spending_summary_df["% Passing Reading"].astype(float).map("{:,.2f}%".format)
school_spending_summary_df["% Overall Passing"] = school_spending_summary_df["% Overall Passing"].astype(float).map("{:,.2f}%".format)

school_spending_summary_df

## Scores By School Size Analysis

In [ ]:
school_size_df = pd.merge(grouped_school_df2, complete_school_df, how="left", on=["Student ID", "Student ID"])

#view dataframe
#school_size_df.head()

In [ ]:
school_size_df2 = school_size_df.loc[:, ["math_score_x", "reading_score_x", 
                                                "% Passing Math", "% Passing Reading",
                                                "% Overall Passing", "size"]]
#view dataframe
#school_size_df2.head()

In [ ]:
#bin in sizes school sizes small, medium, and large
size_bins = [0, 1000, 2000, 3000]

#labels for the size bins
size_labels = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

school_size_df2["size"] = pd.cut(school_size_df2["size"], 
                                              bins= size_bins, labels=size_labels, include_lowest=True)

#view dataframe
#school_size_df2

In [ ]:
#renaming columns
school_size_df3= school_size_df2.rename(columns=
                                              {"math_score_x" : "Average Math Score",
                                               "reading_score_x" : "Average Reading Score",
                                               "% Passing Math" : "% Passing Math",
                                               "% Passing Reading" : "% Passing Reading",
                                               "% Overall Passing" : "% Overall Passing",
                                               "size" :"School Size"
                                               })

#view dataframe
#school_size_df3

In [ ]:
school_size_df4 = school_size_df3.groupby(["School Size"])

school_size_summary_df = round(school_size_df4.mean(),2)

#view dataframe
#school_size_summary_df

## Scores By School Size Summary

In [ ]:
#applying appropriate formatting to summary table
school_size_summary_df["% Passing Math"] = school_size_summary_df["% Passing Math"].astype(float).map("{:,.2f}%".format)
school_size_summary_df["% Passing Reading"] = school_size_summary_df["% Passing Reading"].astype(float).map("{:,.2f}%".format)
school_size_summary_df["% Overall Passing"] = school_size_summary_df["% Overall Passing"].astype(float).map("{:,.2f}%".format)

school_size_summary_df

### Scores by School Type Analysis

In [ ]:
school_type_df = grouped_school_df3.loc[:, ["Average Math Score", "Average Reading Score", 
                                                "% Passing Math", "% Passing Reading",
                                                "% Overall Passing", "School Type"]]
#view dataframe
#school_type_df.head()

In [ ]:
school_type_df2 = school_type_df.groupby(["School Type"])

school_type_summary_df = round(school_type_df2.mean(),2)

#view dataframe
#school_type_summary_df

### Scores by School Type Summary

In [ ]:
#applying appropriate formatting to summary table
school_type_summary_df["% Passing Math"] = school_type_summary_df["% Passing Math"].astype(float).map("{:,.2f}%".format)
school_type_summary_df["% Passing Reading"] = school_type_summary_df["% Passing Reading"].astype(float).map("{:,.2f}%".format)
school_type_summary_df["% Overall Passing"] = school_type_summary_df["% Overall Passing"].astype(float).map("{:,.2f}%".format)

school_type_summary_df